h4.project-title #{@project.name}
h5.role #{@project.role}
p
  |The TOMS One For One Movement, once just a pipe dream in the mind of an American traveler, has now evolved to become a wildly successful example of social enterprise. The idea is incredibly simple: for every pair of shoes that TOMS sells, a pair is donated to someone in need. In addition to retail channels, TOMS sells a large portion of its shoes directly to consumers through its e-commerce site,&nbsp;
  a href="#{@project.url}" target="_blank" TOMS.com
  |.
p I had the privilege of taking on much of the front-end development work on TOMS.com for nearly a year. I was part of a large, cross-functional team responsible for carrying out updates and improvements to the site needed to meet business objectives. Tasks varied from building the TOMS homepage, to creating interactive landing pages for new products, to coding up informational pages that outlined TOMS' social impact.
= image_tag("toms_homepage.jpg", class: "project-showcase-image", id: "toms-homepage")
p.image-caption I built and regularly updated the TOMS.com homepage to showcase new products and ongoing promotions
p On a daily basis, I would work closely with the functional TOMS team to gather requirements, then would receive rich photoshop mockups of the pages to be built from the creative team. My primary role was to take the photoshop mockups and translate them into interactive webpages built using HTML, CSS, and JavaScript. At the time of my involvement, the store was powered by the Magento e-commerge platform. I interacted with Magento on a daily basis, and used the CMS portion of the tool to upload all of my code.
= image_tag("toms_our_movement.jpg", class:"project-showcase-image", id: "toms-our-movement")
p.image-caption Giving was essential to the success of TOMS business model. "Our Movement" helped communicate how TOMS gave shoes and sight to people in need.
p I feel very fortunate to have contributed to such a successful and socially minded organization. I strongly believe social enterprise will continue to play more of a role in modern capitalism, and TOMS has certainly forged the path for others to follow in the next few years.
= render partial: "projects/skills"
