@import "foundation_and_overrides";
@import "home";
@import "responsive_nav";
@import "animate";
body {
  color: #c8c8c8;
}

.background-container {
  width: 100%;
  padding: 66px 0;
}
.dk-gray {
  background: #232323;
}
.charcoal-gray {
  background: #282828;
}
.uppercase {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: normal;
}
.subtle-text {
  color: #8c8c8c;
}
ul, ol, dl {
  font-size: 1rem;
  line-height: 1.6;
}
.accordion dd > a {
  border: 2px solid #8c8c8c;
  margin-top: 1rem;
  text-align: center;
}
@media #{$medium-up} {
  .remove-top-space {
    margin-top: -8px;
  }
}
