@import "foundation_and_overrides";
@import "home";
@import "responsive_nav";
@import "animate";
body {
  color: $cream;
}

.background-container {
  width: 100%;
  padding: 66px 0;
}
.dk-gray {
  background: $dark-gray;
}
.charcoal-gray {
  background: $charcoal-gray;
}
.uppercase {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: normal;
}
.subtle-text {
  color: $medium-gray;
}
ul, ol, dl {
  font-size: 1rem;
  line-height: 1.6;
}
.accordion {
  position: relative;
  z-index: 1;
  margin-top: 1rem;
  font-weight: 300;
}

.accordion dd {
  position: relative;
}

.accordion dd > a {
  border: 2px solid $medium-gray;
  text-align: center;
  font-size: 1.1rem;
  &:hover {
    border: 2px solid $cream;
    color: $cream;
  }
}
.accordion dd.active {
  a {
    border-bottom: none;
  }
  .content.active {
    background: rgba(0,0,0,0);
    border: 2px solid $medium-gray;
    border-top: none;
  }
}
dd:before {
  content: "+";
  position: absolute;
  right: 15px;
  top: 9px;
  color: $primary-color;
  font-weight: bold;
  font-size: 1.2em;
  z-index: -1;
}
dd.active:before {
  content: "_";
  top: 0;
}

@media #{$medium-up} {
  .remove-top-space {
    margin-top: -8px;
  }
}
@media #{$small-only} {
  .background-container {
    padding: 30px 0;
  }
  p {
    font-size: 0.9rem;
  }
  .accordion dd > a {
    font-size: 0.9rem;
  }
}

