.dry-erase-images {
  position: absolute;
}
.chattermap-dry-erase {
  bottom: 4%;
  right: 3%;
  width: 400px;
}
.flow-dry-erase {
  bottom: 14%;
  left: 11%;
  width: 550px;
}
.ab-dry-erase {
  top: 16%;
  right: 4%;
  width: 240px;
}
.share-dry-erase {
  top: 11%;
  left: 3%;
  width: 280px;
}
.hero-text {
  font-size: 3.5rem;
  letter-spacing: 3px;
  color: #1e1e1e;
  margin-top: 26%;
  text-shadow: 0 -1px 1px rgba(255,255,255,0.6)
}
.top-shelf {
  background: url('dry-erase-bckd.jpg');
  background-size: cover;
  min-height: 740px;
  position: relative;
}
.testimonial {
  margin-bottom: 5rem;
}
.who_said {
  margin-top: 1rem;
  p {
    margin-bottom: 0;
  }
}
h4.testimonial_body {
  margin-top: -8px;
  font-weight: 300;
  z-index: 1;
  position: relative;
  text-indent: 50px;
}
.testimonials > :last-child {
   margin-bottom: 0 !important; 
}
.section-header {
  margin-top: 0;
  margin-bottom: 66px;
  border-bottom: 1px solid #323232;
  padding-bottom: 10px;
  font-weight: 300;
  &.uppercase {
    letter-spacing: 3px;
  }
}
.quotation-mark {
  font-size: 8rem;
  font-family: sans-serif;
  color: #323232;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  line-height: 4rem;
  padding-left: 0.7375rem;
}
.testimonial-content {
  position: relative;
}
