.project-showcase-image {
  max-width: 70%;
  display: block;
  margin: 2rem auto 0;
}
.image-caption {
  text-align: center;
  font-size: 0.9rem;
  font-style: italic;
  margin-top: 1rem;
}
h4.project-title {
  font-weight: 600;
}
h5.role {
  color: $medium-gray;
  border-bottom: 1px solid $faint-gray;
  padding-bottom: 10px;
  margin-bottom: 1.5rem;
  font-weight: 600;
}
span.technology {
  padding: 5px 10px;
  margin-right: 5px;
  font-weight: 300;
  text-align: center;
  display: inline-block;
  margin-bottom: 10px;
  background-color: $dark-gray;
  font-family: "adelle", serif;
  &.development {
    border: 2px solid $primary-color;
  }
  &.ux {
    border: 2px solid $green;
  }
  &.product {
    border: 2px solid $purple;
  }
  &.marketing {
    border: 2px solid $orange;
  }
}
p.skills-title {
  display: block;
  margin-right: 8px;
  color: $medium-gray;
  margin-top: 1em;
  font-weight: 300;
}
/* BetterThanReviews Styles */
#customer-question {
  display: block;
  margin-top: 1em;
}
/* TOMS Styles */
#toms-homepage, #toms-our-movement {
  padding: 10px;
  background-color: #fff;
}

@media #{$small-only} {
  .project-showcase-image {
    max-width: 100%;
  }
  .image-caption {
    font-size: 0.8rem;
  }
  span.technology {
    font-size: 0.8rem;
  }
}
